---
title: Donations by year
---

%h3= current_page.data.title

%table.table.table-striped.table-bordered
  %thead
    %tr
      %th Year
      %th Amount
      %th Suspected Ineffectual Amount
      %th Possibly Effectual Amount
  %tbody
    - Donation.donations_by_year.each do |year, donations|
      %tr
        %td= year
        %td= number_to_currency(donations.sum(&:amount_donated_by_me))
        %td= number_to_currency(donations.sum(&:ineffectual_amount_donated))
        %td= number_to_currency(donations.sum(&:possibly_effectual_amount_donated))
