---
title: Contact
---

.row
  .col-md-3
    .list-group
      = mail_to "pbrinichlanglois@gmail.com", "E-mail", class: "list-group-item"
      = link_to "Anonymous feedback", "http://sayat.me/pbrinichlanglois", class: "list-group-item"
      = link_to "Facebook", "https://facebook.com/pbrinichlanglois", class: "list-group-item"
      = link_to "Twitter", "https://twitter.com/notnotpat", class: "list-group-item"
      = link_to "LinkedIn", "http://www.linkedin.com/in/patbl", class: "list-group-item"
      = link_to "GitHub", "https://github.com/patbl", class: "list-group-item"
      = link_to "Blog", "http://myfknblog.com", class: "list-group-item"
      = link_to "Soundcloud", "https://soundcloud.com/patrick-brinich-langlois", class: "list-group-item"
      = link_to "Goodreads", "http://goodreads.com/patbl", class: "list-group-item"
      = link_to "Prediction Book", "http://predictionbook.com/users/Pat", class: "list-group-item"
