---
title: My Donations
---

%h3= current_page.data.title

%p This is a partial list of donations I've made since 2012. |
   Both contributions to and grants from my The Eleemosynary |
   Flying Orang−Utans Fund, my donor-advised fund, are |
   listed below, so there is some double-counting. |

%p In 2016, I decided to direct the majority of my donations to a donor-advised fund run by two knowledgeable, trusted acquaintances. One of them—Nick Beckstead—describes the arrangement <a href="http://blog.givewell.org/2016/12/09/staff-members-personal-donations-giving-season-2016/">here</a> (to be clear, I am not the "private individual" referred to):

%blockquote.blockquote{style: "font-size: 14px;"} Since 2012, one of my side projects has been working with a private individual (who has provided the vast majority of the funds and prefers to remain anonymous) to make donations to organizations working in the effective altruism space and organizations working on mitigating global catastrophic risks (especially potential risks from advanced AI). We meet every three weeks to discuss potential donation opportunities and make decisions, and we both keep up with activities in the space through relationships we’ve built up over time. The DAF is jointly controlled by me and this partner.

%table.table.table-striped.table-bordered
  %thead
    %tr
      %th Date
      %th Organization
      %th Amount
      %th Notes
  %tbody
    - Donation.load_donations.each do |donation|
      %tr
        %td= donation.date
        - if donation.url
          %td= link_to donation.organization, donation.url
        - else
          %td= donation.organization
        %td= number_to_currency(donation.amount)
        %td= donation.note
