---
title: My Donations
---

%h3= current_page.data.title

%p
  This is a mostly complete list of donations I've made since 2012.
  (Earlier donations were relatively small and I didn't keep track of
  them.)

%p
  Both contributions to and grants from my donor-advised fund (DAF) are listed
  below. The "Total donated by me" figure includes donations to my personal DAF,
  but excludes grants from it. The "Total received by charities" figure excludes
  donations to my personal DAF but includes grants from it. Grants from my personal
  DAF appear in <span class="text-grey-dark">light gray</span>.

%table.table.table-striped.table-bordered
  %thead
    %tr
      %th Date
      %th Organization
      %th Amount
      %th Notes
  %tbody
    - Donation.load_donations.each do |donation|
      %tr
        %td= donation.formatted_date
        - if donation.url
          %td= link_to donation.organization, donation.url
        - else
          %td= donation.organization
        %td.text-right{class: donation.css_class}= number_to_currency(donation.amount)
        %td!= donation.note
    %tr(style="background-color: white;")
      %td(rowspan="2")
      %td
        .font-bold Total donated by me
      %td
        .font-bold.text-right= number_to_currency(Donation.total_donated_by_me)
    %tr(style="background-color: white;")
      %td
        .font-bold Total received by charities and external DAFs
      %td
        .font-bold.text-right= number_to_currency(Donation.total_received_by_charities)
