---
title: Links
---

.row
  .col-md-3
    .list-group
      = mail_to "pbrinichlanglois@gmail.com", "E-mail", class: "list-group-item"
      = link_to "Twitter", "https://twitter.com/notnotpat", class: "list-group-item"
      = link_to "LinkedIn", "http://www.linkedin.com/in/patbl", class: "list-group-item"
      = link_to "GitHub", "https://github.com/patbl", class: "list-group-item"
      = link_to "SoundCloud", "https://soundcloud.com/patrick-brinich-langlois", class: "list-group-item"
      = link_to "Goodreads", "https://goodreads.com/patbl", class: "list-group-item"
